name: Lint code

on:
  pull_request:
    branches: ["main"]

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5

      - name: Install flake8
        run: pip install flake8

      - name: Run flake8
        run: flake8 src tests
